h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffff;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transform-origin: center;
}

.nav-link:hover,
.nav-link:focus,
.contacs-link:hover,
.contacs-link:focus {
  color: #404bbf;
}
.contacs {
  font-style: normal;
}
.contacs-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.header-logo {
  margin-right: 76px;
}

.contacs-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
/* here*/
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 36px;
}
.hero-buttom {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buttom:hover,
.hero-buttom:focus {
  background: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  padding: 120px 0 120px;
}
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.feature-item {
  width: calc((100% - 72px) / 4);
}

.article-subtitle {
  margin-bottom: 8px;
}

.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-description {
  padding: 32px 0;
}
.text_team {
  margin-bottom: 8px;
}
.team-list-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  /*column-gap: 24px;*/
}
.team-item-icon {
}
.team-link-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: #f4f4fd;
}
.article-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.title_team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 0 8px;
}
.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
}
.article-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text_team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* портфолио*/
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-info-text,
.portfolio-item:focus .portfolio-info-text {
  transform: translateY(0%);
}

.portfolio-info-text {
  transform: translateY(0%);
}
.portfolio-item-info {
  position: relative;
  overflow: hidden;
}
.portfolio-info-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*footer*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 262px;
}

.container-footer-info {
  margin-right: 120px;
}
.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list-icon {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-link-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
